/**
 * Home Page
 */
md-content{
  overflow: hidden;
}
#top-nav-bar{
  position: relative;
}
#top-nav-bar button{
  float: right;
  top: 0;
  right: 0;
  position:absolute;
}
.fb-color{
  background-color: #3b5998 !important;
  color: white;
}
.twitter-color{
  background-color: #55acee !important;
  color: white;
}
.google-color{
  background-color: #d34836 !important;
  color: white;
}

/*
 * Registration
 */
.register-page{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(app/images/register-backdrop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.register-dialog{
  box-shadow: none;
  max-width: 30rem;
}
.register-dialog md-toolbar button{
  float: left;
  top: .5rem;
  margin: 0;
}
.register-dialog md-toolbar img{
  max-width: 10rem;
}
.register-page footer{
  z-index: 81;
  margin-bottom: 1rem;
}
.register-page footer a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  margin: 0 1rem;
}
.register-dialog .error{
  color: red;
}
.register-dialog .success{
  background-color: #a5e7f6;
}
.register-dialog md-dialog-actions, .register-dialog .error, .register-dialog .success{
  font-size: smaller;
}



.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: smaller;
    font-weight: 700;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-color: lightgray;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
