
  <!-- End Google Tag Manager -->
  <div id="container">
    <section id="header">
      <div id="message-bar">Dorrbell Now Delivering Clothes From Vintalier <a href="http://bit.ly/dbl-vintalier" target="_blank" class="yellow">Read blog</a></div>
      <div id="top-nav-bar">
        <md-button class="md-raised md-accent top-nav" ng-click="goToStore()" layout-align="end start" ng-if="currentUser">
          Go To Store
        </md-button>
        <div id="logo">
          <a href="/home.html">
            <img alt="Dorrbell Logo" src="app/images/dorrbell-logo-beta-5f666e.svg" class="logo">
          </a>
        </div>
      </div>
      <div class="home-tagline">
       <div class="tagline">Clothes delivered to your door to wear first and pay later.</div>
       <div class="sub-tagline">$2.99 delivery fee.</div>
      </div>
    </section>
    <section id="hero">
      <div class="hero-container">
        <div class="hero-block">
          <div layout-align="center center" layout="row" class="form-bg" ng-if="!currentUser">
            <div class="form_header">
              Dorrbell is now in open beta. Use the button below to get started and see if we're available in your area!
            </div>
             <md-button class="md-raised md-accent" ng-click="showDialog($event)">Get Started</md-button>
          </div>
        </div>
      </div>
    </section>
    <section id="brands">
      <div class="brands"></div>
    </section>
    <section id="who-we-are">
      <header class="header-who-we-are">What Is Dorrbell?</header>
      <img src="app/images/ornament.svg" id="ornament">
      <p class="who-we-are-text">Dorrbell allows people to actively shop for clothes from home and still enjoy the in-store benefits of seeing, touching and trying items on before buying.</p>
    </section>
    <section id="howitworks">
      <div class="container">
        <div class="header-how">How Dorrbell Works</div>
        <div class="sectionCol">
          <div>
            <img alt="Select Items" src="app/images/how-img-choose.svg" style="max-width: 125px;" />
          </div>
          <div class="header-how-sub">Choose</div>
          <div class="header-how-text">Choose clothing from nearby stores to be delivered to your door.</div>
        </div>
        <div class="sectionCol">
          <div>
            <img alt="Schedule" src="app/images/how-img-delivery.svg" style="max-width: 125px;">
          </div>
          <div class="header-how-sub">Delivery</div>
          <div class="header-how-text">Schedule your delivery in as little as an hour or up to 5 days in advance.</div>
        </div>
        <div class="sectionCol">
          <div>
            <img alt="Try On" src="app/images/how-img-keep.svg" style="max-width: 125px;" />
          </div>
          <div class="header-how-sub">Keep</div>
          <div class="header-how-text">Try your clothes and accessories on and decide what you want to keep.</div>
        </div>
        <div class="sectionCol">
          <div>
            <img alt="Pick Up" src="app/images/how-img-returns.svg" style="max-width: 125px;" />
          </div>
          <div class="header-how-sub">Returns</div>
          <div class="header-how-text">We return to pick up the items you don't want. Pay only for what you keep.</div>
        </div>
      </div>
    </section>
    <section id="inventory">
      <div class="how-img img-inventory float-rt"></div>
      <div class="how-txt-container float-lt">
        <div class="how-txt-block">
          <div class="how-txt-header">
            Clothes Sold Locally At Your Fingertips
          </div>
          <div class="how-txt-p">
            Dorrbell is synchronized with the inventories of your nearby stores so you know what products are available to experience at home. We're an extension of our retail partners' physical stores and transport merchandise between the store and your home without
            up-front payment.
          </div>
        </div>
      </div>
    </section>
    <section id="delivery">
      <div class="how-txt-container float-rt">
        <div class="how-txt-block">
          <div class="how-txt-header">
            Delivery & Returns Bundled Together
          </div>
          <div class="how-txt-p">
            Not only do we bring the clothes you select to your door, but we also return to pick up the items you decide not to keep. We save you from the inconvenience and hassle of returning items by taking care of it for you and making it part of every order.
          </div>
        </div>
      </div>
      <div class="how-img img-delivery float-lt"></div>
    </section>
    <section id="hassle-free">
      <div class="how-txt-container float-lt">
        <div class="how-txt-block">
          <div class="how-txt-header" style="font-family: essonnes display;">
            Surprise-Free Wardrobe Updates
          </div>
          <div class="how-txt-p">
            Why wait for a box of items chosen by someone else to arrive at your doorstep when nobody knows what looks best on you better than you? Dorrbell gives you full control of your wardrobe updates and offers a try-before-buy experience without waiting for
            a shipment.
          </div>
        </div>
      </div>
      <div class="how-img img-hassle-free float-rt"></div>
    </section>
    <section id="app">
      <div class="how-txt-container float-lt" style="width: 45%;">
        <div class="how-txt-block">
          <div class="how-txt-header" style="text-align: left;">
            We Deliver The Fitting Room To Your Living Room
          </div>
          <div class="how-txt-p" style="text-align: left;">
            Dorrbell keeps you connected to the clothing stores in your area and informs you of new inventory, item markdowns and store-wide sales. Curate items over time or quickly assemble the fitting room items you want to try before buying. Either way, we'll
            deliver your personalized fitting room to your home at precisely the time you want so you can skip the trip to the store.
          </div>
        </div>
      </div>
      <div class="how-img img-app float-rt" style="width: 55%;"></div>
    </section>
    <section id="footer">
      <div class="container" id="dtFooter">
        <div class="sectionCol colFooter">
          <div class="footer-header">The Service</div>
          <div class="footer-links">
            <a class="footerHome" href="howItWorks">How It Works</a>
            <br/>
            <a class="footerHome" href="terms">Terms of Service</a>
          </div>
        </div>
        <div class="sectionCol colFooter">
          <div class="footer-header">The Company</div>
          <div class="footer-links">
            <a class="footerHome" href="about">About Us</a>
            <br/>
            <a class="footerHome" href="http://blog.dorrbell.com">Blog</a>
            <br/>
            <a class="footerHome" href="privacy">Privacy</a>
          </div>
        </div>
        <div class="sectionCol colFooter">
          <a class="socialLogo footerHome" href="http://www.twitter.com/dorrbell_pdx" target="new">
            <img class="ft-social-button" src="app/images/icon-twitter-svg.svg">
          </a>
          <a class="socialLogo footerHome" href="https://www.facebook.com/dorrbellpdx" target="new">
            <img class="ft-social-button" src="app/images/icon-facebook-svg.svg">
          </a>
          <a class="socialLogo footerHome" href="http://www.instagram.com/dorrbell_pdx" target="new">
            <img class="ft-social-button" src="app/images/icon-instagram-svg.svg">
          </a>
          <a class="socialLogo footerHome" href="http://www.pinterest.com/dorrbell_pdx" target="new">
            <img class="ft-social-button" src="app/images/icon-pinterest-svg.svg">
          </a>
        </div>
        <div style="padding: 10px;">&copy; Dorrbell 2016</div>
      </div>
      <div class="container" id="mFooter">
        <div style="padding:20px; margin-top: 20px;">
          <div class="footer-header">The Service</div>
          <div class="footer-links">
            <a class="footerHome" href="howItWorks">How It Works</a>
            <br/>
            <a class="footerHome" href="terms">Terms of Service</a>
          </div>
          <div class="footer-header" style="margin-top: 20px;">The Company</div>
          <div class="footer-links">
            <a class="footerHome" href="about">About Us</a>
            <br/>
            <a class="footerHome" href="http://blog.dorrbell.com">Blog</a>
            <br/>
            <a class="footerHome" href="privacy">Privacy</a>
          </div>
          <div style="margin-top: 20px;">
            <a class="socialLogo footerHome" href="http://www.twitter.com/dorrbell_pdx" target="new">
              <img class="ft-social-button" src="app/images/icon-twitter-svg.svg">
            </a>
            <a class="socialLogo footerHome" href="https://www.facebook.com/dorrbellpdx" target="new">
              <img class="ft-social-button" src="app/images/icon-facebook-svg.svg">
            </a>
            <a class="socialLogo footerHome" href="http://www.instagram.com/dorrbell_pdx" target="new">
              <img class="ft-social-button" src="app/images/icon-instagram-svg.svg">
            </a>
            <a class="socialLogo footerHome" href="http://www.pinterest.com/dorrbell_pdx" target="new">
              <img class="ft-social-button" src="app/images/icon-pinterest-svg.svg">
            </a>
            <p>&copy; Dorrbell 2016</p>
          </div>
        </div>
    </section>
  </div>
