<div id="container">
	<section name="content">
		<div id="page-content">
        	<div id="logo-page"><a href="home.html"><img src="app/images/logo-beta-black.svg" alt="Dorrbell Logo"></a></div>
            <div class="header3 center" style="margin-bottom: 50px;">Recent Press</div>
            <div id="right-sidebar" class="mobile-hide">
                <div class="header4">Media Inquiries</div>
                <div class="text_sm"><p>media@dorrbell.com</p></div>
				<div class="header4">Downloads</div>
                <div class="text_sm"><p><a href="https://app.box.com/s/og465mwq1wq96xisv1anwj3klme5j057" target="_blank">Press Kit Files</a></p></div>
				<div class="header4">Contact Us</div>
                <div class="text_sm">
                    <p>Dorrbell Inc.<br/>422 NW 13th Avenue #134<br/>Portland, OR. 97209
                    <p>(503) 568-1118<br/>help@dorrbell.com</p>
                </div>
            </div>
            <div class="left-col-content">
				<div class="text_sm">
					<p><a class="press" href="http://www.bizjournals.com/portland/blog/techflash/2016/07/throwback-thursday-dorrbell-launches-personal.html" target="_parent">Dorrbell Launches Personal Shopping Service In Portland</a><br/>
					The service gives stores a way to better track inventory. It also allows them to see customer profiles, which helps as they offer other items that might better fit a customer's style.
					<p style="margin-top:-10px;"><span style="font-weight: 600;">Portland Business Journal</span> - July 28, 2016<br/><span class="press-link"><a href="http://www.bizjournals.com/portland/blog/techflash/2016/07/throwback-thursday-dorrbell-launches-personal.html" target="_parent">Read more</a><br/>

					<p style="margin-top:40px;"><a class="press" href="http://siliconflorist.com/2015/09/30/ding-dong-newly-reinvigorated-fashion-sense-dorrbell/" target="_parent">*Ding Dong* Who’s there? It’s your newly reinvigorated fashion sense</a><br/>
					They’re attacking an interesting problem in the clothing market. One that may be one of the worst things about buying clothes: the dressing room.
					<p style="margin-top:-10px;"><span style="font-weight: 600;">Silicon Florist</span> -  September 30, 2015<br/><span class="press-link"><a href="http://siliconflorist.com/2015/09/30/ding-dong-newly-reinvigorated-fashion-sense-dorrbell/" target="_parent">Read more</a><br/>

					<p style="margin-top:40px;"><a class="press" href="http://www.bizjournals.com/portland/print-edition/2015/08/21/the-pitch-delivering-style-to-your-dorrstep.html" target="_parent">Delivering style to your Dorrstep</a><br/>
					W e live in an on-demand world where with the push of a button a ride can be summoned, a meal delivered or groceries dropped off. So a plan by Portland-based startup Dorrbell to provide an in-home clothes shopping experience seems a natural step.
					<p style="margin-top:-10px;"><span style="font-weight: 600;">Portland Business Journal</span> -  August, 21 2015<br/><span class="press-link"><a href="http://www.bizjournals.com/portland/print-edition/2015/08/21/the-pitch-delivering-style-to-your-dorrstep.html" target="_parent">Read more</a><br/>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
                </div>
                <div class="header4 mobile-show">Contact Us</div>
                <div class="header4 mobile-show">Media Inquiries</div>
                <div class="text_sm mobile-show"><p>media@dorrbell.com</p></div>
				<div class="text_sm mobile-show">
                    <p>Dorrbell Inc.<br/>422 NW 13th Avenue #134<br/>Portland, OR. 97209
                    <p>(503) 568-1118<br/>help@dorrbell.com</p>
                </div>

			</div>
		</div>
	</section>
    <section name="footer">
    	<div class="footer-content">
            <span><a href="home.html" class="footer_page">Home</a></span>
            <span><a href="howItWorks" class="footer_page">How It Works</a></span>
            <span><a href="about" class="footer_page">About Us</a></span>
            <span><a href="terms" class="footer_page">Terms of Service</a></span>
            <span><a href="http://blog.dorrbell.com" class="footer_page">Blog</a></span>
            <span><a href="privacy" class="footer_page">Privacy</a></span>
		</div>
    </section>
</div>
