<div layout="row" layout-align="center end" class="register-page">
  <footer>
    <a ui-sref="home">Home</a>
    <a ui-sref="howItWorks">How It Works</a>
    <a ui-sref="about">About Us</a>
    <a ui-sref="terms">Terms of Service</a>
    <a href="http://blog.dorrbell.com" target="_blank">Blog</a>
    <a href="privacy" target="_blank">Privacy</a>
  </footer>
  <!-- <script type="text/javascript">
    var _ubaq = _ubaq || [];
    _ubaq.push(['trackGoal', 'convert']);
    (function() {
    var ub_script = document.createElement('script');
    ub_script.type = 'text/javascript';
    ub_script.src =
      ('https:' == document.location.protocol ? 'https://' : 'http://') +
      'd3pkntwtp2ukl5.cloudfront.net/uba.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ub_script, s);
    }) ();
  </script> -->
</div>
